[submodule "FakeNewsDetection"]
	path = FakeNewsDetection
	url = https://github.com/username/FakeNewsDetection.git
[submodule "Topic-Modeling-On-BBC-News"]
	path = Topic-Modeling-On-BBC-News
	url = https://github.com/username/Topic-Modeling-On-BBC-News.git
