[submodule "projects/Urdu_Sentence_Segmentation"]
	path = projects/Urdu_Sentence_Segmentation
	url = https://github.com/Rameesha8/Urdu_Sentence_Segmentation
[submodule "resume-screening-nlp"]
	path = resume-screening-nlp
	url = https://github.com/Rameesha8/Resume-Screening-Using-NLP
