[submodule "FakeNewsDetection"]
	path = FakeNewsDetection
	url = https://github.com/username/FakeNewsDetection.git
[submodule "Topic-Modeling-On-BBC-News"]
	path = Topic-Modeling-On-BBC-News
	url = https://github.com/username/Topic-Modeling-On-BBC-News.git
[submodule "projects/Urdu_Sentence_Segmentation"]
	path = projects/Urdu_Sentence_Segmentation
	url = https://github.com/Rameesha8/Urdu_Sentence_Segmentation
